@import "utils";

.cards-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // flex-wrap: nowrap;
    // overflow-x: auto;
    // scroll-snap-type: x mandatory;
    transition: background-color 1s ease;
    &:hover{
        background-color: $animi-color;
    }
    &:hover .image{
        opacity: 1
    }
    &::-webkit-scrollbar{
        display: none;
    }
}

@media (min-width: 768px) {
    .cards-container{
        flex-direction: row;
    }
}