@import "utils";


.gridrow {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @for $i from 1 through $gridcolumnsmobile {
        .col-m#{$i} {
            box-sizing: border-box;
            width: percentage($i/$gridcolumnsmobile);
            padding-left: $gridgutter / 2;
            padding-right: $gridgutter / 2;
        }
        .offset-m#{$i} {
            margin-left: percentage($i/$gridcolumnsmobile);
        }
    }
    &.nogutter-m{
        @for $i from 1 through $gridcolumnsmobile {
            .col-m#{$i} {
                padding: 0;
            }
        }
    }
}
@media (min-width: 768px){
    .gridrow{
        @for $i from 1 through $gridcolumnstablet {
            .col-t#{$i} {
                box-sizing: border-box;
                width: percentage($i/$gridcolumnstablet);
                padding-left: $gridgutter / 2;
                padding-right: $gridgutter / 2;
            }
            .offset-t#{$i} {
                margin-left: percentage($i/$gridcolumnstablet);
            }
        }
        &.nogutter-t{
            @for $i from 1 through $gridcolumnstablet {
                .col-t#{$i} {
                    padding: 0;
                }
            }
        }
    }
}
@media (min-width: 1024px){
    .gridrow{
        @for $i from 1 through $gridcolumns {
            .col#{$i} {
                box-sizing: border-box;
                width: percentage($i/$gridcolumns);
                padding-left: $gridgutter / 2;
                padding-right: $gridgutter / 2;
            }
            .offset#{$i} {
                margin-left: percentage($i/$gridcolumns);
            }
        }
        &.nogutter{
            @for $i from 1 through $gridcolumns {
                .col#{$i} {
                    padding: 0;
                }
            }
        }
    }
}