@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Delius&display=swap');

//grid
$gridcolumnsmobile: 4;
$gridcolumnstablet: 8;
$gridcolumns: 12;
$gridgutter: 30px;
$gridwidth: 1200px;
$gridwidthtablet: 700px;



$font-family: 'Raleway', sans-serif;
$font-title: 'Amatic SC', cursive;

//colors
$headers-color: #7c1d1d;
$font-color: #283451;
$bg-color: #dbf1ee;
$secundary-bg: #ebf8f6;
$animi-color: #acd8d6;
$lines-color: #C75959;